<p id="notice"><%= notice %></p>

<h1>Dogs</h1>

<div>
  <% @dogs.each do |dog| %>
    <%= link_to dog do %>

      <div class='dog-list-item row'>
        <div class='col-xs-9 dog-details'>
          <h3><%= dog.name %></h3>
          <% total = dog.reactions.map { |reaction| reaction.rating } %>
          <h5>Avg Rating: <%= '%.2f' % (total.sum.to_f / dog.reactions.size) %></h5>
          <p>Age: <%= dog.get_age %></p>
          <%= link_to 'Show', dog %>
        </div>
        <%= link_to dog, class: 'profile-image-link' do %>
          <div class='col-xs-3 dog-image-<%= dog.name.downcase %>'>
          </div>
        <% end %>
      </div>

    <% end %>
  <% end %>
</div>
