<p id="notice"><%= notice %></p>

<h1>Dogs</h1>

<div>
  <% @dogs.each do |dog| %>
    <div class='dog-list-item row'>
      <div class='col-xs-9 dog-details'>
        <h3><%= dog.name %></h3>
        <h5>Age: <%= dog.get_age %></h5>
        <%= link_to 'Show', dog %>
      </div>
      <div class='col-xs-3 dog-image-<%= dog.name.downcase %>'>
      </div>
    </div>
  <% end %>
</div>
