<div class='container'>
  <%= form_with(model: reaction, local: true) do |form| %>
    <% if reaction.errors.any? %>
      <div id='error_explanation'>
        <h2><%= pluralize(reaction.errors.count, 'error') %> prohibited this reaction from being saved:</h2>

        <ul>
        <% reaction.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class='field'>
      <%= form.label :description %>
      <%= form.text_area :description, :class=> 'form-control' %>
    </div>

    <div class='field radio-inline'>
      <%= form.label :rating %>
      <label class='rating-label'><%= form.radio_button :rating, '1' %>1</label>
      <label class='rating-label'><%= form.radio_button :rating, '2' %>2</label>
      <label class='rating-label'><%= form.radio_button :rating, '3' %>3</label>
      <label class='rating-label'><%= form.radio_button :rating, '4' %>4</label>
      <label class='rating-label'><%= form.radio_button :rating, '5' %>5</label>
      <label class='rating-label'><%= form.radio_button :rating, '6' %>6</label>
      <label class='rating-label'><%= form.radio_button :rating, '7' %>7</label>
      <label class='rating-label'><%= form.radio_button :rating, '8' %>8</label>
      <label class='rating-label'><%= form.radio_button :rating, '9' %>9</label>
      <label class='rating-label'><%= form.radio_button :rating, '10', :checked => true %>10</label>
      <br>
      <%= image_tag('low-rating.png', class: 'low-rating') %>
      <%= image_tag('high-rating.png', class: 'high-rating') %>
    </div>

    <div class='field'>
      <%= form.label :dog_id %>
      <%= select_tag(:dog_id, options_for_select([['Addison', 2], ['Clark', 1], ['Zogi', 3]]), :class => 'dog-list') %>
    </div>

    <div class='field'>
      <%= form.label :trigger %>
      <%= select_tag(:trigger, options_for_select([['Select One', ''], ['Other Dog', 'Other Dog'], ['Human', 'Human'], ['Outside Sounds', 'Outside Sounds'], ['Clark', 'Clark'], ['Addison', 'Addison'], ['Other', 'Other']]), :class => 'trigger-list') %>
    </div>

    <div>
      <%= form.submit 'New', :class => 'btn new-reaction center-block' %>
    </div>
  <% end %>
</div>
