<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @reaction.description %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @reaction.rating %>
</p>

<p>
  <strong>Dog:</strong>
  <%= @reaction.dog_name %>
</p>

<p>
  <strong>Trigger:</strong>
  <%= @reaction.trigger %>
</p>


<%= link_to 'Edit', edit_reaction_path(@reaction) %> |
<%= link_to 'Back', reactions_path %>
