<!DOCTYPE html>
<html>
  <head>
    <title>Clark & Addison</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!-- Adds proper mobile rendering and prevents page zoom -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!-- When bookmarked, removes browser frame -->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="apple-touch-icon" sizes="180x180" href="<%= image_url('app-logo.jpg')%>">
    <link rel="icon" type="image/jpg" sizes="32x32" href="<%= image_url('app-logo.jpg')%>">
    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <main class="container-wide">
      <header class="container-wide">

      <!--Navbar-->
      <nav class="navbar">

        <!-- Collapse button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent20"
          aria-controls="navbarSupportedContent20" aria-expanded="false" aria-label="Toggle navigation">
          <div class="animated-icon1 pull-right"><span></span><span></span><span></span></div>
        </button>
      
        <!-- Collapsible content -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent20">
      
          <!-- Links -->
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/reactions">Reactions <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/dogs">Dogs</a>
            </li>
          </ul>
          <!-- Links -->
      
        </div>
        <!-- Collapsible content -->
      </nav>
      <img class="logo" src="<%= image_url('logo.png')%>"</>
      <!--/.Navbar-->
      <!--
        <nav class="bg-info">
          <ul class="nav-menu">
            <li class="menu-item"><%= link_to 'Dogs', dogs_path %></li> |
            <li class="menu-item"><%= link_to 'Reactions', reactions_path %></li>
          </ul>
          <img class="logo" src="<%= image_url('logo.png')%>"</>
        </nav>
      -->
      </header>
      <section class='content'>
        <%= yield %>
      </section>
    </main>
  </body>
</html>
