<!DOCTYPE html>
<html>
  <head>
    <title>Clark & Addison</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div>
      <ul style="list-style-type: none;">
        <li style="display: inline-block;"><%= link_to 'Home', reactions_path %></li> |
        <li style="display: inline-block;"><%= link_to 'Dogs', dogs_path %></li> |
        <li style="display: inline-block;"><%= link_to 'Reactions', reactions_path %></li>
      </ul>
    <div>
    <%= yield %>
  </body>
</html>
